h1 { 

	/*font-size: 1.5rem;*/
	color: #F33; 
	
}
.columna {

			background-color: #Fc0;
			border:1px solid #333;			
		  }

.container {   }


.full-width {

			width: 100%;
			color: #FFF;
			background-color: #400080;
			padding: 20px;

			}

